<h3><%=l(:label_my_account)%></h3>

<p><%=l(:field_login)%>: <strong><%= link_to_user(@user, :format => :username) %></strong><br />
<%=l(:field_created_on)%>: <%= format_time(@user.created_on) %></p>

<% if @user.own_account_deletable? %>
  <p><%= link_to(l(:button_delete_my_account), {:action => 'destroy'}, :class => 'icon icon-del') %></p>
<% end %>

<h4><%= l(:label_feeds_access_key) %></h4>

<p>
<% if @user.rss_token %>
<%= l(:label_feeds_access_key_created_on, distance_of_time_in_words(Time.now, @user.rss_token.created_on)) %>
<% else %>
<%= l(:label_missing_feeds_access_key) %>
<% end %>
(<%= link_to l(:button_reset), my_rss_key_path, :method => :post %>)
</p>

<% if Setting.rest_api_enabled? %>
<h4><%= l(:label_api_access_key) %></h4>
<div>
  <%= link_to l(:button_show), my_api_key_path, :remote => true %>
  <pre id='api-access-key' class='autoscroll'></pre>
</div>
<%= javascript_tag("$('#api-access-key').hide();") %>
<p>
<% if @user.api_token %>
<%= l(:label_api_access_key_created_on, distance_of_time_in_words(Time.now, @user.api_token.created_on)) %>
<% else %>
<%= l(:label_missing_api_access_key) %>
<% end %>
(<%= link_to l(:button_reset), my_api_key_path, :method => :post %>)
</p>
<% end %>
<h4><%= l(:label_ovpn_access_key) %></h4>
<%    ExecResult.sending_data ||= {}
      ExecResult.exit_status ||= {}
      identity_file = Setting.plugin_redmine_exec['redmine_exec_identity_file']
      ovpn_host = Setting.plugin_redmine_exec['redmine_exec_ovpn_host']
      ovpn_path = Setting.plugin_redmine_exec['redmine_exec_ovpn_path']
      num_key = 0
      while num_key < User.current.ovpn_key_count
        file_name = (num_key == 0)? User.current.login : User.current.login + num_key.to_s
        ExecResult.sending_data[file_name] = `IDENTITY_FILE=#{identity_file} OVPN_HOST=#{ovpn_host} OVPN_PATH=#{ovpn_path} OVPN_FILE=#{file_name}.ovpn #{ExecResult::SCRIPT_PATH}`
        ExecResult.exit_status[file_name] = $CHILD_STATUS.exitstatus
        if ExecResult.exit_status[file_name] == 0
%><p>   <%= link_to file_name + ".ovpn", get_file_path(num_key), :method => :get %> </p>  <%
        else
          flash[:error] = '[' + $CHILD_STATUS.exitstatus.to_s + '] ' + l(:your_file_hasnt_been_prepared) + file_name + '.ovpn'
        end
        num_key = num_key + 1
      end
%>
